<%- include ('../includes/head.ejs')%>
<link rel="stylesheet" href="/css/main.min.css">
</head>

<body>
    <%-include ('../include/nav.ejs')%>

    <main>
        About
    </main>

    <%-include(../include/footer.ejs)%>